﻿@using System.Web.Optimization
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Routing for trade agents</title>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/openlayers")
        @Scripts.Render("~/bundles/index")

        @Styles.Render("~/Content/css")

</head>
<body>
    @RenderBody()
</body>
</html>